/Copy (2) of db.properties
/META-INF
/StripesResources.properties
/applicationContext.xml
/biz
/com
/db.properties
/db_applicationContextCmem.xml
/dbts.properties
/digits.properties
/exclude.properties
/jd100.properties
/log4j.properties
/match
/mreport.properties
/onedigit.properties
/org
/report.properties
/spy.properties
/yaia.properties
